<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:versionCode="222"
    android:versionName="2.42.222" android:installLocation="auto">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"  tools:ignore="ProtectedPermissions"/>
<!-- needed for API 33 -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
<!-- needed for API 33 -->
<!-- needed for API 34 -->
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
<!-- needed for API 34 -->
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
    <uses-permission android:name="android.permission.READ_LOGS" tools:ignore="ProtectedPermissions"/>
    <uses-feature android:name="android.hardware.sensor.accelerometer" android:required="false" />
    <uses-permission android:name="android.permission.CAMERA" android:maxSdkVersion="22" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-permission android:name="android.permission.FLASHLIGHT" android:maxSdkVersion="22" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />
<!--    <uses-permission android:name="android.permission.mod"/>-->
    <queries>
        <intent>
            <action android:name="android.intent.action.TTS_SERVICE" />
        </intent>
    </queries>
    <application
        android:name="jmri.enginedriver.threaded_application"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:fullBackupContent="@xml/auto_backup_rules"
        android:dataExtractionRules="@xml/auto_backup_rules_new"
        android:description="@string/app_description"
        android:label="@string/app_name"
        android:icon="@mipmap/icon"
        android:theme="@style/app_splash"
        android:usesCleartextTraffic="true"
        android:requestLegacyExternalStorage="true"
        android:hasFragileUserData="true"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute" >
        <uses-library android:name="org.apache.http.legacy" android:required="false"/>
        <activity
            android:name=".intro.intro_activity"
            android:label="@string/app_name_intro"
            android:theme="@style/app_intro"/>
        <activity
            android:name=".connection_activity"
            android:theme="@style/app_theme_black"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".select_loco"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:label="@string/app_name_select_loco"
            android:theme="@style/app_theme_black" >
        </activity>
        <activity
            android:name=".ConsistEdit"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:label="@string/app_name_ConsistEdit"
            android:theme="@style/app_theme_black" >
        </activity>
        <activity
            android:name=".ConsistLightsEdit"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:label="@string/app_name_ConsistLightsEdit"
            android:theme="@style/app_theme_black" >
        </activity>
        <activity
            android:name=".throttle_original"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustNothing"
            android:label="@string/app_name_throttle_long"
            android:theme="@style/app_theme_black" >
        </activity>
        <activity
            android:name=".throttle_switching_horizontal"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustNothing"
            android:label="@string/app_name_throttle_long"
            android:theme="@style/app_theme_black" >
        </activity>
        <activity
            android:name=".throttle_simple"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustNothing"
            android:label="@string/app_name_throttle_long"
            android:theme="@style/app_theme_black" >
        </activity>
        <activity
            android:name=".throttle_vertical_left_or_right"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustNothing"
            android:label="@string/app_name_throttle_long"
            android:theme="@style/app_theme_black" >
        </activity>
        <activity
            android:name=".throttle_switching_left_or_right"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustNothing"
            android:label="@string/app_name_throttle_long"
            android:theme="@style/app_theme_black" >
        </activity>
        <activity
            android:name=".throttle_big_buttons"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustNothing"
            android:label="@string/app_name_throttle_long"
            android:theme="@style/app_theme_black" >
        </activity>
        <activity
            android:name=".throttle_semi_realistic"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"
            android:windowSoftInputMode="adjustNothing"
            android:label="@string/app_name_throttle_long"
            android:theme="@style/app_theme_black" >
        </activity>
        <activity
            android:name=".function_settings"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:label="@string/app_name_functions"
            android:theme="@style/app_theme_black" >
        </activity>
        <activity
            android:name=".function_consist_settings"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:label="@string/app_name_consist_functions"
            android:theme="@style/app_theme_black" >
        </activity>
        <activity
            android:name=".turnouts"
            android:alwaysRetainTaskState="true"
            android:label="@string/app_name_turnouts"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"
            android:theme="@style/app_theme_black" >
        </activity>
        <activity
            android:name=".routes"
            android:label="@string/app_name_routes_long"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"
            android:theme="@style/app_theme_black" >
        </activity>
        <activity
            android:name=".SettingsActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:label="@string/app_name_preferences"
            android:theme="@style/app_theme_black" >
        </activity>
        <activity
            android:name=".about_page"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:label="@string/app_name_about"
            android:theme="@style/app_theme_black" >
        </activity>
        <activity
            android:name=".web_activity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name_web_long"
            android:theme="@style/app_theme_black" >
        </activity>
        <activity
            android:name=".power_control"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:label="@string/app_name_power_control"
            android:theme="@style/app_theme_black" >
        </activity>
        <activity
            android:name=".reconnect_status"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleInstance"
            android:excludeFromRecents="true"
            android:label="@string/app_name_reconnect_status_long"
            android:theme="@style/app_theme_black" >
        </activity>
        <activity
            android:name=".logviewer.ui.LogViewerActivity"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:label="LogViewerActivity"
            android:theme="@style/app_theme_black" >
        </activity>
        <activity
            android:name=".gamepad_test"
            android:alwaysRetainTaskState="true"
            android:windowSoftInputMode="adjustNothing"
            android:label="@string/app_name_gamepad_test"
            android:launchMode="singleTop"
            android:theme="@style/app_theme_black" >
        </activity>
        <activity
            android:name=".DeviceSoundsSettings"
            android:alwaysRetainTaskState="true"
            android:windowSoftInputMode="adjustNothing"
            android:label="@string/app_name_device_sounds_settings"
            android:launchMode="singleTop"
            android:theme="@style/app_theme_black" >
        </activity>
        <activity
            android:name=".dcc_ex"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:label="@string/app_name_dcc_ex"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/app_theme_black" >
        </activity>
        <activity
            android:name=".withrottle_cv_programmer"
            android:alwaysRetainTaskState="true"
            android:launchMode="singleTop"
            android:label="@string/app_name_withrottle_cv_programmer"
            android:windowSoftInputMode="adjustNothing"
            android:theme="@style/app_theme_black" >
        </activity>

        <activity
            android:name=".FileReceiverActivity"
            android:label="Receive and Save File"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
            <!-- If you want to handle multiple files shared at once -->
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

    </application>
</manifest>
